@import 'mixins';

$spacing: 1rem;
$width--mobile: 15rem;

.layout {
  // border: 4px solid blue;
  // min-height: 100vh;
  // color: blue;
  // overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing 0;
}

.body-text {
  // display: inline-block;
  // font-size: 1.15rem;
  // line-height: 1.2;
  @include font--body;
  @include font-smoothing;
  // @include font--heading;
  width: $width--mobile;
  margin-bottom: $spacing;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing;
}

.section--contact .body-text {
  text-align: center;
}

.heading {
  @include font-smoothing;
  @include font--heading;
  font-size: 2rem;
  margin-bottom: $spacing * 1.5;

  @media (min-width: 768px) {
    border: 2px solid blue;
    padding-top: $spacing * .5;
    padding-bottom: $spacing * .5;
    padding-left: $spacing;
    padding-right: $spacing;
  }
}

.icon-container {
  display: flex;
  justify-content: space-between;
  width: $width--mobile;
  margin-top: $spacing;
}
